<!--
<link type="text/css" rel="stylesheet" href="../static/stylesheet.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="../static/verisag.js"></script>
//-->
{% extends "layout.html" %}
{% block content %}
<body>
    <div class="head"><h1 class='title'>2018 DBIR Attack Surface Analysis</h1></div>
    <div id="input_div" class="outer_div">
        <input type="hidden" id="show_zero_len_paths" value="FALSE" />
<!--
        <div>
            Either input your own data or leave blank to use ours:  <input type="file" name="data">
        </div>
//-->
        <table><tr>
            <td>
                <div id='worries_div'>
                    <p>Attack graphs are the engine for the attack surface analysis.  If this all looks very confusing and you're not sure where to start, <a href="https://www.youtube.com/watch?v=Afp6ZnwfOBw">watch this quick six minute tutorial video</a>.
                    <p><u><h3>Choose your attack surface based on industry or pattern:</h3></u></p>
                    <select name="worries" id="worries">
                        <option value="all" selected="selected">Everything</option>
                        <option value="-"><b>Patterns:</b></option>
                        <option value="-">---------</option>
                        <option value="pattern.Crimeware">Crimeware</option>
                        <option value="pattern.Cyber_Espionage">Cyber-Espionage</option>
                        <option value="pattern.Denial of Service">Denial of Service</option>
                        <option value="pattern.Lost and Stolen Assets">Lost and Stolen Assets</option>
                        <!--<option value="pattern.Miscellaneous Errors">Miscellaneous Errors</option>//-->
                        <option value="pattern.Payment Card Skimmers">Payment Card Skimmers</option>
                        <option value="pattern.Point of Sale">Points of Sale</option>
                        <option value="pattern.Privilege Misuse">Privilege Misuse</option>
                        <option value="pattern.Web Applications">Web Applications</option>
                        <option value="-"><b>Industries:</b></option>
                        <option value="-">-----------</option>
                        <!-- <option value="11,11">Sector 11: Agriculture, Forestry, Fishing and Hunting</option> //-->
                        <option value="11,11">Sector 11: Agriculture, Forestry, Fishing and Hunting</option>
                        <option value="21,21">Sector 21: Mining, Quarrying, and Oil and Gas Extraction</option>
                        <option value="22,22">Sector 22: Utilities</option>
                        <option value="23,23">Sector 23: Construction</option>
                        <option value="31,33">Sectors 31-33: Manufacturing</option>
                        <option value="42,42">Sector 42: Wholesale Trade</option>
                        <option value="44,45">Sectors 44-45: Retail Trade</option>
                        <option value="48,49">Sectors 48-49: Transportation and Warehousing</option>
                        <option value="51,51">Sector 51: Information</option>
                        <option value="52,52">Sector 52: Finance and Insurance</option>
                        <option value="53,53">Sector 53: Real Estate and Rental and Leasing</option>
                        <option value="54,54">Sector 54: Professional, Scientific, and Technical Services</option>
                        <!--<option value="55,55">Sector 55: Management of Companies and Enterprises</option>//--><!--Small sample size//-->
                        <option value="56,56">Sector 56: Administrative and Support and Waste Management and Remediation Services</option>
                        <option value="61,61">Sector 61: Educational Services</option>
                        <option value="62,62">Sector 62: Health Care and Social Assistance</option>
                        <option value="71,71">Sector 71: Arts, Entertainment, and Recreation</option>
                        <option value="72,72">Sector 72: Accommodation and Food Services</option>
                        <option value="81,81">Sector 81: Other Services (except Public Administration)</option>
                        <option value="92,92">Sector 92: Public Administration</option>
                        <option value="-">-----------</option>
                        <option value="phidbr">PHI Data Breach Report</option>
                    </select>
                    <p>The <u>Error</u> pattern is explicitly not included as it inherently is not based on puposeful action.  NAICS Sector 55 is not included for lack of data.  For more information on the correct NAICS code for your organization, visit <a href="http://www.farsmarterbids.com/reference/naics-list.php">http://www.farsmarterbids.com/reference/naics-list.php</a></p>

                    <p><u><h3>Choose what you are trying to protect:</h3></u></p>
                    <select name="attributes" id="attributes" multiple="multiple">
                        <option value="Everything"selected="selected">Everything</option>
                        <option value="Availability">Availability:</option>
                        <option value="-">-------------</option>
                        <option value="attribute.availability.variety.Destruction">destruction</option>
                        <option value="attribute.availability.variety.Loss">Loss</option>
                        <option value="attribute.availability.variety.Interruption">Interruption</option>
                        <option value="attribute.availability.variety.Degradation">Degradation</option>
                        <option value="attribute.availability.variety.Acceleration">Acceleration</option>
                        <option value="attribute.availability.variety.Obscuration">obscuration</option>
                        <option value="attribute.availability.variety.Other">other</option>
                        <option value="Confidentiality">Confidentiality:</option>
                        <option value="-">----------------</option>
                        <option value="attribute.confidentiality.data.variety.Credentials">Credentials</option>
                        <option value="attribute.confidentiality.data.variety.Bank">Bank</option>
                        <option value="attribute.confidentiality.data.variety.Classified">Classified</option>
                        <option value="attribute.confidentiality.data.variety.Copyrighted">Copyrighted</option>
                        <option value="attribute.confidentiality.data.variety.Digital certificate">Digital certificate</option>
                        <option value="attribute.confidentiality.data.variety.Medical">Medical</option>
                        <option value="attribute.confidentiality.data.variety.Payment">Payment</option>
                        <option value="attribute.confidentiality.data.variety.Personal">Personal</option>
                        <option value="attribute.confidentiality.data.variety.Internal">Internal</option>
                        <option value="attribute.confidentiality.data.variety.Source code">Source code</option>
                        <option value="attribute.confidentiality.data.variety.System">System</option>
                        <option value="attribute.confidentiality.data.variety.Secrets">Secrets</option>
                        <option value="attribute.confidentiality.data.variety.Virtual currency">Virtual currency</option>
                        <option value="attribute.confidentiality.data.variety.Other">Other</option>
                        <option value="Integrity">Integrity:</option>
                        <option value="-">----------</option>
                        <option value="attribute.integrity.variety.Created account">Created account</option>
                        <option value="attribute.integrity.variety.Defacement">Defacement</option>
                        <option value="attribute.integrity.variety.Hardware tampering">Hardware tampering</option>
                        <option value="attribute.integrity.variety.Alter behavior">Alter behavior</option>
                        <option value="attribute.integrity.variety.Fraudulent transaction">Fraudulent transaction</option>
                        <option value="attribute.integrity.variety.Log tampering">Log tampering</option>
                        <option value="attribute.integrity.variety.Repurpose">Repurpose</option>
                        <option value="attribute.integrity.variety.Misrepresentation">Misrepresentation</option>
                        <option value="attribute.integrity.variety.Modify configuration">Modify configuration</option>
                        <option value="attribute.integrity.variety.Modify privileges">Modify privileges</option>
                        <option value="attribute.integrity.variety.Modify data">Modify data</option>
                        <option value="attribute.integrity.variety.Software installation">Software installation</option>
                        <option value="attribute.integrity.variety.Other">Other</option>
                    </select>

                    <p>In the graph to the right, attacks start at the lower right at the "Start" node.  They move through actions and attributes until they finally conclude at the "End" node in the upper left.  Depending on what worry you select, the graph will change to represent that subset of the data.</p>
                    <p>There are three options for analysis below:
                        <ul>
                            <li><u>All Actors Analysis</u>:  This analysis provides a recommendation on what to do to protect against all the potential bad guys out there.  It's like planning to handle all of your breaches.  Within the graph it is addressing all shortest paths from any action to any attribute.</li>
                            <li><u>Likely Actor Analysis</u>:  This analysis provides a recommendation on how to deal with the single most likely attacker. It's like planning to handle the single, most likely breach.  Within the graph it is addressing the shortest path from start to end. (This is the analysis used in the 2015 PHIDBR and 2016 DBIR.)
                            <li><u>Compare Mitigations</u>: This will allow choosing two sets of actions/attributes to mitigate and comparing the improvement.
                        </ul>
                        For all analysis, the attack difficulty or improvement is a relative score.  While that means there are no absolute values, (like 'dollars' or 'time'), the values can be compared to each other.  They can be thought of as the relative degree of difficulty of exploitation, cost of exploitation, or speed of exploitation compared to all other paths.</p>
                    <p>To learn more about the app, read the associated blog post: <a href="https://securityblog.verizonenterprise.com/?p=7038">A DBIR Attack Graph Web App!</a> or the in-depth blog post about the associated analysis: <a href="https://securityblog.verizonenterprise.com/?p=6949">The DBIR Attack Graph: Redux!</a>.
                </div>
            </td>
            <td>
                <div id="sigmajs_container"></div>
            </td>
        </tr></table>
    <div id="analyze_div">
        <center><input type="button" value="Analyze" id="analyze_button"></center>
    </div>
    </div>
    <div id="all_actors_tab" class="tab">
      All Actors Analysis
    </div>
    <div id="likely_actor_tab" class="tab">
      Likely Actor Analysis
    </div>
    <div id="comparative_tab" class="tab">
      Compare Mitigations
    </div>
    <div id="all_actors_output_div" class="outer_div">
        <h3>Analysis:</h3>
        <p id="output">Please click the 'analyze' button to analyze the graph.</p>
        <div id="chart1" style="width: 100%; border: 0px">
            <h3>Attack Paths:</h3>
            <p>The bar chart below represents the length of the path for an attacker to get from a certain action to compromise a certain attribute.  It may take more than 1 step for them do so, however the actual steps aren’t shown.  As described above, the values are all relative with '1' representing the highest degree of difficulty for a single step.  Mouse over bars to see the starting action and ending attribute.</p>
            <svg></svg>
        </div>
    </div>
    <div id="likely_actor_output_div" class="outer_div">
        <!-- Consider hidding the mitigation rate div because w/o more granular data on what was left unitigated (was it things that attackers know about and can exploit, is it things they can't exploit, is it preferential choice or random choice if attacker attack a mitigated or unmitigated thing), the option doesn't offer a lot of benefit. //-->

        <div id="mitigation_rate_div">
            <h3>Mitigation Rate:</h3>
            <p>You can also set a mitigation rate.  For example, if your patch completion rate is 95%, for a mitigation that requires patching, you would enter "95" to simulate the 95% patch rate.  This is a rudimentary implementation, but offers basic control.  By default, the mitigation is assumed 100% effective ("100"). Mitigation Rate: <input type="text" id="mitigation_rate" value="100" size=3/><br/>
            Note: because no path is completely removed, only lengthened, any mitigation rate of less than 100% may run to the maximum 50 iterations.  It willt take some time to complete</p>
        </div>

        <h3>Analysis:</h3>
        <p id="likely_actor_analyze">Please click the 'analyze' button to analyze the graph.</p>
        </ol>
        <div id="chart2" style="width: 100%; border: 0px">
            <h3>Mitigations:</h3>
            <p></p>
            <svg></svg>
        </div>
        <div id ="likely_actor_last_mitigation"><p></p></div>
        <div id="chart3" style="width: 100%; border: 0px">
            <h3>Paths:</h3>
            <p></p>
            <svg></svg>
        </div>
    </div>
    <div id="comparative_output_div" class="outer_div">
        <table id="comparative_output_table">
            <colgroup>
                <col span="1" style="width: 40%; align: 'center'">
                <col span="1" style="width: 16%; align: 'center'">
                <col span="1" style="width: 40%; align: 'center'">
            </colgroup>
            <tr><td id="mitigations1_col">
                <center>
                    <h3>Mitigation Set 1</h3>
                    <select name="mitigations1" id="mitigations1" multiple="multiple" class="mitigations">
                        <option value="-"><b>Action: Hacking</b></option>
                        <option value="-">-----------</option>
                        <option value="action.hacking.variety.Abuse of functionality">Abuse of functionality</option>
                        <option value="action.hacking.variety.Brute force">Brute force</option>
                        <option value="action.hacking.variety.Buffer overflow">Buffer overflow</option>
                        <option value="action.hacking.variety.CSRF">CSRF</option>
                        <option value="action.hacking.variety.Cache poisoning">Cache poisoning</option>
                        <option value="action.hacking.variety.Cryptanalysis">Cryptanalysis</option>
                        <option value="action.hacking.variety.DoS">DoS</option>
                        <option value="action.hacking.variety.Footprinting">Footprinting</option>
                        <option value="action.hacking.variety.Forced browsing">Forced browsing</option>
                        <option value="action.hacking.variety.Format string attack">Format string attack</option>
                        <option value="action.hacking.variety.Fuzz testing">Fuzz testing</option>
                        <option value="action.hacking.variety.HTTP Response Splitting">HTTP Response Splitting</option>
                        <option value="action.hacking.variety.HTTP request smuggling">HTTP request smuggling</option>
                        <option value="action.hacking.variety.HTTP request splitting">HTTP request splitting</option>
                        <option value="action.hacking.variety.HTTP response smuggling">HTTP response smuggling</option>
                        <option value="action.hacking.variety.Integer overflows">Integer overflows</option>
                        <option value="action.hacking.variety.LDAP injection">LDAP injection</option>
                        <option value="action.hacking.variety.Mail command injection">Mail command injection</option>
                        <option value="action.hacking.variety.MitM">MitM</option>
                        <option value="action.hacking.variety.Null byte injection">Null byte injection</option>
                        <option value="action.hacking.variety.OS commanding">OS commanding</option>
                        <option value="action.hacking.variety.Offline cracking">Offline cracking</option>
                        <option value="action.hacking.variety.Other">Other</option>
                        <option value="action.hacking.variety.Pass-the-hash">Pass-the-hash</option>
                        <option value="action.hacking.variety.Path traversal">Path traversal</option>
                        <option value="action.hacking.variety.RFI">RFI</option>
                        <option value="action.hacking.variety.Reverse engineering">Reverse engineering</option>
                        <option value="action.hacking.variety.Routing detour">Routing detour</option>
                        <option value="action.hacking.variety.SQLi">SQLi</option>
                        <option value="action.hacking.variety.SSI injection">SSI injection</option>
                        <option value="action.hacking.variety.Session fixation">Session fixation</option>
                        <option value="action.hacking.variety.Session prediction">Session prediction</option>
                        <option value="action.hacking.variety.Session replay">Session replay</option>
                        <option value="action.hacking.variety.Soap array abuse">Soap array abuse</option>
                        <option value="action.hacking.variety.Special element injection">Special element injection</option>
                        <option value="action.hacking.variety.URL redirector abuse">URL redirector abuse</option>
                        <option value="action.hacking.variety.Use of backdoor or C2">Use of backdoor or C2</option>
                        <option value="action.hacking.variety.Use of stolen creds">Use of stolen creds</option>
                        <option value="action.hacking.variety.Virtual machine escape">Virtual machine escape</option>
                        <option value="action.hacking.variety.XML attribute blowup">XML attribute blowup</option>
                        <option value="action.hacking.variety.XML entity expansion">XML entity expansion</option>
                        <option value="action.hacking.variety.XML external entities">XML external entities</option>
                        <option value="action.hacking.variety.XML injection">XML injection</option>
                        <option value="action.hacking.variety.XPath injection">XPath injection</option>
                        <option value="action.hacking.variety.XQuery injection">XQuery injection</option>
                        <option value="action.hacking.variety.XSS">XSS</option>
                        <option value="-"><b>Action: Malware Variety</b></option>
                        <option value="-">-----------</option>
                        <option value="action.malware.variety.Adminware">Adminware</option>
                        <option value="action.malware.variety.Adware">Adware</option>
                        <option value="action.malware.variety.Backdoor">Backdoor</option>
                        <option value="action.malware.variety.Brute force">Brute force</option>
                        <option value="action.malware.variety.C2">C2</option>
                        <option value="action.malware.variety.Capture app data">Capture app data</option>
                        <option value="action.malware.variety.Capture stored data">Capture stored data</option>
                        <option value="action.malware.variety.Click fraud">Click fraud</option>
                        <option value="action.malware.variety.Client-side attack">Client-side attack</option>
                        <option value="action.malware.variety.Destroy data">Destroy data</option>
                        <option value="action.malware.variety.Disable controls">Disable controls</option>
                        <option value="action.malware.variety.DoS">DoS</option>
                        <option value="action.malware.variety.Downloader">Downloader</option>
                        <option value="action.malware.variety.Exploit vuln">Exploit vuln</option>
                        <option value="action.malware.variety.Export data">Export data</option>
                        <option value="action.malware.variety.Other">Other</option>
                        <option value="action.malware.variety.Packet sniffer">Packet sniffer</option>
                        <option value="action.malware.variety.Password dumper">Password dumper</option>
                        <option value="action.malware.variety.Ram scraper">Ram scraper</option>
                        <option value="action.malware.variety.Ransomware">Ransomware</option>
                        <option value="action.malware.variety.Rootkit">Rootkit</option>
                        <option value="action.malware.variety.SQL injection">SQL injection</option>
                        <option value="action.malware.variety.Scan network">Scan network</option>
                        <option value="action.malware.variety.Spam">Spam</option>
                        <option value="action.malware.variety.Spyware/Keylogger">Spyware/Keylogger</option>
                        <option value="action.malware.variety.Worm">Worm</option>
                        <option value="-"><b>Action: Malware Vector</b></option>
                        <option value="-">-----------</option>
                        <option value="action.malware.vector.Direct install">Direct install</option>
                        <option value="action.malware.vector.Download by malware">Download by malware</option>
                        <option value="action.malware.vector.Email attachment">Email attachment</option>
                        <option value="action.malware.vector.Email autoexecute">Email autoexecute</option>
                        <option value="action.malware.vector.Email link">Email link</option>
                        <option value="action.malware.vector.Instant messaging">Instant messaging</option>
                        <option value="action.malware.vector.Network propagation">Network propagation</option>
                        <option value="action.malware.vector.Other">Other</option>
                        <option value="action.malware.vector.Remote injection">Remote injection</option>
                        <option value="action.malware.vector.Removable media">Removable media</option>
                        <option value="action.malware.vector.Software update">Software update</option>
                        <option value="action.malware.vector.Web download">Web download</option>
                        <option value="action.malware.vector.Web drive-by">Web drive-by</option>
                        <option value="-"><b>Action: Misuse</b></option>
                        <option value="-">-----------</option>
                        <option value="action.misuse.variety.Data mishandling">Data mishandling</option>
                        <option value="action.misuse.variety.Email misuse">Email misuse</option>
                        <option value="action.misuse.variety.Illicit content">Illicit content</option>
                        <option value="action.misuse.variety.Knowledge abuse">Knowledge abuse</option>
                        <option value="action.misuse.variety.Net misuse">Net misuse</option>
                        <option value="action.misuse.variety.Other">Other</option>
                        <option value="action.misuse.variety.Possession abuse">Possession abuse</option>
                        <option value="action.misuse.variety.Privilege abuse">Privilege abuse</option>
                        <option value="action.misuse.variety.Unapproved hardware">Unapproved hardware</option>
                        <option value="action.misuse.variety.Unapproved software">Unapproved software</option>
                        <option value="action.misuse.variety.Unapproved workaround">Unapproved workaround</option>
                        <option value="-"><b>Action: Physical</b></option>
                        <option value="-">-----------</option>
                        <option value="action.physical.variety.Assault">Assault</option>
                        <option value="action.physical.variety.Bypassed controls">Bypassed controls</option>
                        <option value="action.physical.variety.Connection">Connection</option>
                        <option value="action.physical.variety.Destruction">Destruction</option>
                        <option value="action.physical.variety.Disabled controls">Disabled controls</option>
                        <option value="action.physical.variety.Other">Other</option>
                        <option value="action.physical.variety.Skimmer">Skimmer</option>
                        <option value="action.physical.variety.Snooping">Snooping</option>
                        <option value="action.physical.variety.Surveillance">Surveillance</option>
                        <option value="action.physical.variety.Tampering">Tampering</option>
                        <option value="action.physical.variety.Theft">Theft</option>
                        <option value="action.physical.variety.Wiretapping">Wiretapping</option>
                        <option value="-"><b>Action: Social</b></option>
                        <option value="-">-----------</option>
                        <option value="action.social.variety.Baiting">Baiting</option>
                        <option value="action.social.variety.Bribery">Bribery</option>
                        <option value="action.social.variety.Elicitation">Elicitation</option>
                        <option value="action.social.variety.Extortion">Extortion</option>
                        <option value="action.social.variety.Forgery">Forgery</option>
                        <option value="action.social.variety.Influence">Influence</option>
                        <option value="action.social.variety.Other">Other</option>
                        <option value="action.social.variety.Phishing">Phishing</option>
                        <option value="action.social.variety.Pretexting">Pretexting</option>
                        <option value="action.social.variety.Propaganda">Propaganda</option>
                        <option value="action.social.variety.Scam">Scam</option>
                        <option value="action.social.variety.Spam">Spam</option>
                        <option value="-">Attribute: Availability</b></option>
                        <option value="-">-----------</option>
                        <option value="attribute.availability.variety.Acceleration">Acceleration</option>
                        <option value="attribute.availability.variety.Degradation">Degradation</option>
                        <option value="attribute.availability.variety.Destruction">Destruction</option>
                        <option value="attribute.availability.variety.Interruption">Interruption</option>
                        <option value="attribute.availability.variety.Loss">Loss</option>
                        <option value="attribute.availability.variety.Obscuration">Obscuration</option>
                        <option value="attribute.availability.variety.Other">Other</option>
                        <option value="-"><b>Attribute: Confidentiality</b></option>
                        <option value="-">-----------</option>
                        <option value="attribute.confidentiality.data.variety.Bank">Bank</option>
                        <option value="attribute.confidentiality.data.variety.Classified">Classified</option>
                        <option value="attribute.confidentiality.data.variety.Copyrighted">Copyrighted</option>
                        <option value="attribute.confidentiality.data.variety.Credentials">Credentials</option>
                        <option value="attribute.confidentiality.data.variety.Digital certificate">Digital certificate</option>
                        <option value="attribute.confidentiality.data.variety.Internal">Internal</option>
                        <option value="attribute.confidentiality.data.variety.Medical">Medical</option>
                        <option value="attribute.confidentiality.data.variety.Other">Other</option>
                        <option value="attribute.confidentiality.data.variety.Payment">Payment</option>
                        <option value="attribute.confidentiality.data.variety.Personal">Personal</option>
                        <option value="attribute.confidentiality.data.variety.Secrets">Secrets</option>
                        <option value="attribute.confidentiality.data.variety.Source code">Source code</option>
                        <option value="attribute.confidentiality.data.variety.System">System</option>
                        <option value="attribute.confidentiality.data.variety.Virtual currency">Virtual currency</option>
                        <option value="-"><b>Attribute: Integrity</b></option>
                        <option value="-">-----------</option>
                        <option value="attribute.integrity.variety.Alter behavior">Alter behavior</option>
                        <option value="attribute.integrity.variety.Created account">Created account</option>
                        <option value="attribute.integrity.variety.Defacement">Defacement</option>
                        <option value="attribute.integrity.variety.Fraudulent transaction">Fraudulent transaction</option>
                        <option value="attribute.integrity.variety.Hardware tampering">Hardware tampering</option>
                        <option value="attribute.integrity.variety.Log tampering">Log tampering</option>
                        <option value="attribute.integrity.variety.Misrepresentation">Misrepresentation</option>
                        <option value="attribute.integrity.variety.Modify configuration">Modify configuration</option>
                        <option value="attribute.integrity.variety.Modify data">Modify data</option>
                        <option value="attribute.integrity.variety.Modify privileges">Modify privileges</option>
                        <option value="attribute.integrity.variety.Other">Other</option>
                        <option value="attribute.integrity.variety.Repurpose">Repurpose</option>
                        <option value="attribute.integrity.variety.Software installation">Software installation</option>
                    </select>
                </center>
                <p></p>
            </td>
            <td id="comparison_output"><center>
                <h3>Analysis</h3>
                <table>
                    <colgroup>
                        <col span="1" style="width: 8%;">
                        <col span="1" style="width: 4%;">
                        <col span="1" style="width: 4%;">
                    </colgroup>
                    <tr><td></td><td colspan="2"><center><div style="font-size: 16px;">Mitigations</div></center></td></tr>
                    <tr>
                        <td></td>
                        <td><center>Set 1</center></td>
                        <td><center>Set 2</center></td>
                    </tr>
                    <tr>
                        <td>All Actors, Paths Denied:</td>
                        <td id="paths1", class="comparison_cell"></td>
                        <td id="paths2", class="comparison_cell"></td>
                    </tr>
                    <tr>
                        <td>All Actors, Improvement:</td>
                        <td id="allLength1", class="comparison_cell"></td>
                        <td id="allLength2", class="comparison_cell"></td>
                    </tr>
                    <tr>
                        <td>Likely Actor, Improvement:</td>
                        <td id="likelyLength1", class="comparison_cell"></td>
                        <td id="likelyLength2", class="comparison_cell"></td>
                    </tr>
                </table>
                <p>Please click the 'analyze' button to compare mitigations using the graph.</p>
            </center></td>
            <td id="mitigations2_col">
                <center>
                    <h3>Mitigation Set 2</h3>
                    <select name="mitigations2" id="mitigations2" multiple="multiple" class="mitigations">
                        <option value="-"><b>Action: Hacking</b></option>
                        <option value="-">-----------</option>
                        <option value="action.hacking.variety.Abuse of functionality">Abuse of functionality</option>
                        <option value="action.hacking.variety.Brute force">Brute force</option>
                        <option value="action.hacking.variety.Buffer overflow">Buffer overflow</option>
                        <option value="action.hacking.variety.CSRF">CSRF</option>
                        <option value="action.hacking.variety.Cache poisoning">Cache poisoning</option>
                        <option value="action.hacking.variety.Cryptanalysis">Cryptanalysis</option>
                        <option value="action.hacking.variety.DoS">DoS</option>
                        <option value="action.hacking.variety.Footprinting">Footprinting</option>
                        <option value="action.hacking.variety.Forced browsing">Forced browsing</option>
                        <option value="action.hacking.variety.Format string attack">Format string attack</option>
                        <option value="action.hacking.variety.Fuzz testing">Fuzz testing</option>
                        <option value="action.hacking.variety.HTTP Response Splitting">HTTP Response Splitting</option>
                        <option value="action.hacking.variety.HTTP request smuggling">HTTP request smuggling</option>
                        <option value="action.hacking.variety.HTTP request splitting">HTTP request splitting</option>
                        <option value="action.hacking.variety.HTTP response smuggling">HTTP response smuggling</option>
                        <option value="action.hacking.variety.Integer overflows">Integer overflows</option>
                        <option value="action.hacking.variety.LDAP injection">LDAP injection</option>
                        <option value="action.hacking.variety.Mail command injection">Mail command injection</option>
                        <option value="action.hacking.variety.MitM">MitM</option>
                        <option value="action.hacking.variety.Null byte injection">Null byte injection</option>
                        <option value="action.hacking.variety.OS commanding">OS commanding</option>
                        <option value="action.hacking.variety.Offline cracking">Offline cracking</option>
                        <option value="action.hacking.variety.Other">Other</option>
                        <option value="action.hacking.variety.Pass-the-hash">Pass-the-hash</option>
                        <option value="action.hacking.variety.Path traversal">Path traversal</option>
                        <option value="action.hacking.variety.RFI">RFI</option>
                        <option value="action.hacking.variety.Reverse engineering">Reverse engineering</option>
                        <option value="action.hacking.variety.Routing detour">Routing detour</option>
                        <option value="action.hacking.variety.SQLi">SQLi</option>
                        <option value="action.hacking.variety.SSI injection">SSI injection</option>
                        <option value="action.hacking.variety.Session fixation">Session fixation</option>
                        <option value="action.hacking.variety.Session prediction">Session prediction</option>
                        <option value="action.hacking.variety.Session replay">Session replay</option>
                        <option value="action.hacking.variety.Soap array abuse">Soap array abuse</option>
                        <option value="action.hacking.variety.Special element injection">Special element injection</option>
                        <option value="action.hacking.variety.URL redirector abuse">URL redirector abuse</option>
                        <option value="action.hacking.variety.Use of backdoor or C2">Use of backdoor or C2</option>
                        <option value="action.hacking.variety.Use of stolen creds">Use of stolen creds</option>
                        <option value="action.hacking.variety.Virtual machine escape">Virtual machine escape</option>
                        <option value="action.hacking.variety.XML attribute blowup">XML attribute blowup</option>
                        <option value="action.hacking.variety.XML entity expansion">XML entity expansion</option>
                        <option value="action.hacking.variety.XML external entities">XML external entities</option>
                        <option value="action.hacking.variety.XML injection">XML injection</option>
                        <option value="action.hacking.variety.XPath injection">XPath injection</option>
                        <option value="action.hacking.variety.XQuery injection">XQuery injection</option>
                        <option value="action.hacking.variety.XSS">XSS</option>
                        <option value="-"><b>Action: Malware Variety</b></option>
                        <option value="-">-----------</option>
                        <option value="action.malware.variety.Adminware">Adminware</option>
                        <option value="action.malware.variety.Adware">Adware</option>
                        <option value="action.malware.variety.Backdoor">Backdoor</option>
                        <option value="action.malware.variety.Brute force">Brute force</option>
                        <option value="action.malware.variety.C2">C2</option>
                        <option value="action.malware.variety.Capture app data">Capture app data</option>
                        <option value="action.malware.variety.Capture stored data">Capture stored data</option>
                        <option value="action.malware.variety.Click fraud">Click fraud</option>
                        <option value="action.malware.variety.Client-side attack">Client-side attack</option>
                        <option value="action.malware.variety.Destroy data">Destroy data</option>
                        <option value="action.malware.variety.Disable controls">Disable controls</option>
                        <option value="action.malware.variety.DoS">DoS</option>
                        <option value="action.malware.variety.Downloader">Downloader</option>
                        <option value="action.malware.variety.Exploit vuln">Exploit vuln</option>
                        <option value="action.malware.variety.Export data">Export data</option>
                        <option value="action.malware.variety.Other">Other</option>
                        <option value="action.malware.variety.Packet sniffer">Packet sniffer</option>
                        <option value="action.malware.variety.Password dumper">Password dumper</option>
                        <option value="action.malware.variety.Ram scraper">Ram scraper</option>
                        <option value="action.malware.variety.Ransomware">Ransomware</option>
                        <option value="action.malware.variety.Rootkit">Rootkit</option>
                        <option value="action.malware.variety.SQL injection">SQL injection</option>
                        <option value="action.malware.variety.Scan network">Scan network</option>
                        <option value="action.malware.variety.Spam">Spam</option>
                        <option value="action.malware.variety.Spyware/Keylogger">Spyware/Keylogger</option>
                        <option value="action.malware.variety.Worm">Worm</option>
                        <option value="-"><b>Action: Malware Vector</b></option>
                        <option value="-">-----------</option>
                        <option value="action.malware.vector.Direct install">Direct install</option>
                        <option value="action.malware.vector.Download by malware">Download by malware</option>
                        <option value="action.malware.vector.Email attachment">Email attachment</option>
                        <option value="action.malware.vector.Email autoexecute">Email autoexecute</option>
                        <option value="action.malware.vector.Email link">Email link</option>
                        <option value="action.malware.vector.Instant messaging">Instant messaging</option>
                        <option value="action.malware.vector.Network propagation">Network propagation</option>
                        <option value="action.malware.vector.Other">Other</option>
                        <option value="action.malware.vector.Remote injection">Remote injection</option>
                        <option value="action.malware.vector.Removable media">Removable media</option>
                        <option value="action.malware.vector.Software update">Software update</option>
                        <option value="action.malware.vector.Web download">Web download</option>
                        <option value="action.malware.vector.Web drive-by">Web drive-by</option>
                        <option value="-"><b>Action: Misuse</b></option>
                        <option value="-">-----------</option>
                        <option value="action.misuse.variety.Data mishandling">Data mishandling</option>
                        <option value="action.misuse.variety.Email misuse">Email misuse</option>
                        <option value="action.misuse.variety.Illicit content">Illicit content</option>
                        <option value="action.misuse.variety.Knowledge abuse">Knowledge abuse</option>
                        <option value="action.misuse.variety.Net misuse">Net misuse</option>
                        <option value="action.misuse.variety.Other">Other</option>
                        <option value="action.misuse.variety.Possession abuse">Possession abuse</option>
                        <option value="action.misuse.variety.Privilege abuse">Privilege abuse</option>
                        <option value="action.misuse.variety.Unapproved hardware">Unapproved hardware</option>
                        <option value="action.misuse.variety.Unapproved software">Unapproved software</option>
                        <option value="action.misuse.variety.Unapproved workaround">Unapproved workaround</option>
                        <option value="-"><b>Action: Physical</b></option>
                        <option value="-">-----------</option>
                        <option value="action.physical.variety.Assault">Assault</option>
                        <option value="action.physical.variety.Bypassed controls">Bypassed controls</option>
                        <option value="action.physical.variety.Connection">Connection</option>
                        <option value="action.physical.variety.Destruction">Destruction</option>
                        <option value="action.physical.variety.Disabled controls">Disabled controls</option>
                        <option value="action.physical.variety.Other">Other</option>
                        <option value="action.physical.variety.Skimmer">Skimmer</option>
                        <option value="action.physical.variety.Snooping">Snooping</option>
                        <option value="action.physical.variety.Surveillance">Surveillance</option>
                        <option value="action.physical.variety.Tampering">Tampering</option>
                        <option value="action.physical.variety.Theft">Theft</option>
                        <option value="action.physical.variety.Wiretapping">Wiretapping</option>
                        <option value="-"><b>Action: Social</b></option>
                        <option value="-">-----------</option>
                        <option value="action.social.variety.Baiting">Baiting</option>
                        <option value="action.social.variety.Bribery">Bribery</option>
                        <option value="action.social.variety.Elicitation">Elicitation</option>
                        <option value="action.social.variety.Extortion">Extortion</option>
                        <option value="action.social.variety.Forgery">Forgery</option>
                        <option value="action.social.variety.Influence">Influence</option>
                        <option value="action.social.variety.Other">Other</option>
                        <option value="action.social.variety.Phishing">Phishing</option>
                        <option value="action.social.variety.Pretexting">Pretexting</option>
                        <option value="action.social.variety.Propaganda">Propaganda</option>
                        <option value="action.social.variety.Scam">Scam</option>
                        <option value="action.social.variety.Spam">Spam</option>
                        <option value="-">Attribute: Availability</b></option>
                        <option value="-">-----------</option>
                        <option value="attribute.availability.variety.Acceleration">Acceleration</option>
                        <option value="attribute.availability.variety.Degradation">Degradation</option>
                        <option value="attribute.availability.variety.Destruction">Destruction</option>
                        <option value="attribute.availability.variety.Interruption">Interruption</option>
                        <option value="attribute.availability.variety.Loss">Loss</option>
                        <option value="attribute.availability.variety.Obscuration">Obscuration</option>
                        <option value="attribute.availability.variety.Other">Other</option>
                        <option value="-"><b>Attribute: Confidentiality</b></option>
                        <option value="-">-----------</option>
                        <option value="attribute.confidentiality.data.variety.Bank">Bank</option>
                        <option value="attribute.confidentiality.data.variety.Classified">Classified</option>
                        <option value="attribute.confidentiality.data.variety.Copyrighted">Copyrighted</option>
                        <option value="attribute.confidentiality.data.variety.Credentials">Credentials</option>
                        <option value="attribute.confidentiality.data.variety.Digital certificate">Digital certificate</option>
                        <option value="attribute.confidentiality.data.variety.Internal">Internal</option>
                        <option value="attribute.confidentiality.data.variety.Medical">Medical</option>
                        <option value="attribute.confidentiality.data.variety.Other">Other</option>
                        <option value="attribute.confidentiality.data.variety.Payment">Payment</option>
                        <option value="attribute.confidentiality.data.variety.Personal">Personal</option>
                        <option value="attribute.confidentiality.data.variety.Secrets">Secrets</option>
                        <option value="attribute.confidentiality.data.variety.Source code">Source code</option>
                        <option value="attribute.confidentiality.data.variety.System">System</option>
                        <option value="attribute.confidentiality.data.variety.Virtual currency">Virtual currency</option>
                        <option value="-"><b>Attribute: Integrity</b></option>
                        <option value="-">-----------</option>
                        <option value="attribute.integrity.variety.Alter behavior">Alter behavior</option>
                        <option value="attribute.integrity.variety.Created account">Created account</option>
                        <option value="attribute.integrity.variety.Defacement">Defacement</option>
                        <option value="attribute.integrity.variety.Fraudulent transaction">Fraudulent transaction</option>
                        <option value="attribute.integrity.variety.Hardware tampering">Hardware tampering</option>
                        <option value="attribute.integrity.variety.Log tampering">Log tampering</option>
                        <option value="attribute.integrity.variety.Misrepresentation">Misrepresentation</option>
                        <option value="attribute.integrity.variety.Modify configuration">Modify configuration</option>
                        <option value="attribute.integrity.variety.Modify data">Modify data</option>
                        <option value="attribute.integrity.variety.Modify privileges">Modify privileges</option>
                        <option value="attribute.integrity.variety.Other">Other</option>
                        <option value="attribute.integrity.variety.Repurpose">Repurpose</option>
                        <option value="attribute.integrity.variety.Software installation">Software installation</option>
                    </select>
                </center>
                <p></p>
           </td></tr>
       </table>
       Note: Setting mitigation completion rate, while algorithmically possible, is not currently supported in the UI or webapp for "Compare Mitigations" analysis. <!-- To do so, the webapp would need to allow chosing a node and setting a mitigation percentage.  The underlying app would then need to muliply successor edge weights to the mitigated node by 1/(1 - mitigation_rate) to decrease their likelihood but not completely remove them.  NOTE: This treats all mitigations as equal.  If an easily exploited instance of a vulnerability is in the 'unmitigated' percent, it would be like nothing is mitigated.  A more robust analysis tool would be needed to account for such a situation. -Gabriel Basett 4/12/16 //-->
    </div>
</body>
{% endblock %}

