<!--
<link type="text/css" rel="stylesheet" href="../static/stylesheet.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="../static/verisag.js"></script>
//-->
{% extends "layout.html" %}
{% block content %}
<body>
    <div class="head"><h1 class='title'>DBIR Attack Graph Analysis</h1></div>
    <div id="input_div" class="outer_div">
<!--
        <div>
            Either input your own data or leave blank to use ours:  <input type="file" name="data">
        </div>
//-->
        <table><tr>
            <td>
                <div id='worries_div'>
                    <p>What Worries you?</p>
                    <select name="worries" id="worries">
                        <option value="all">Everything</option>
                        <option value="-">Patterns:</option>
                        <option value="-">---------</option>
                        <option value="pattern.Crimeware">Crimeware</option>
                        <option value="pattern.Cyber_Espionage">Cyber-Espionage</option>
                        <option value="pattern.Denial of Service">Denial of Service</option>
                        <option value="pattern.Lost and Stolen Assets">Lost and Stolen Assets</option>
                        <!--<option value="pattern.Miscellaneous Errors">Miscellaneous Errors</option>//-->
                        <option value="pattern.Payment Card Skimmers">Payment Card Skimmers</option>
                        <option value="pattern.Point of Sale">Points of Sale</option>
                        <option value="pattern.Privilege Misuse">Privilege Misuse</option>
                        <option value="pattern.Web Applications">Web Applications</option>
                        <option value="-">Industries:</option>
                        <option value="-">-----------</option>
                        <!-- <option value="11,11">Sector 11: Agriculture, Forestry, Fishing and Hunting</option> //-->
                        <option value="21,21">Sector 21: Mining, Quarrying, and Oil and Gas Extraction</option>
                        <option value="22,22">Sector 22: Utilities</option>
                        <option value="23,23">Sector 23: Construction</option>
                        <option value="31,33">Sectors 31-33: Manufacturing</option>
                        <option value="42,42">Sector 42: Wholesale Trade</option>
                        <option value="44,45">Sectors 44-45: Retail Trade</option>
                        <option value="48,49">Sectors 48-49: Transportation and Warehousing</option>
                        <option value="51,51">Sector 51: Information</option>
                        <option value="52,52">Sector 52: Finance and Insurance</option>
                        <option value="53,53">Sector 53: Real Estate and Rental and Leasing</option>
                        <option value="54,54">Sector 54: Professional, Scientific, and Technical Services</option>
                        <option value="55,55">Sector 55: Management of Companies and Enterprises</option>
                        <option value="56,56">Sector 56: Administrative and Support and Waste Management and Remediation Services</option>
                        <option value="61,61">Sector 61: Educational Services</option>
                        <option value="62,62">Sector 62: Health Care and Social Assistance</option>
                        <option value="71,71">Sector 71: Arts, Entertainment, and Recreation</option>
                        <option value="72,72">Sector 72: Accommodation and Food Services</option>
                        <option value="81,81">Sector 81: Other Services (except Public Administration)</option>
                        <option value="92,92">Sector 92: Public Administration</option>
                    </select>
                    <p>The <u>Error</u> pattern is explicitly not included as it inherently is not based on puposeful action.  NAICS Sector 11 is not included for lack of data.  For more information on the correct NAICS code for your organization, visit <a href="http://www.farsmarterbids.com/reference/naics-list.php">http://www.farsmarterbids.com/reference/naics-list.php</a></p>

                    <p>In the graph to the right, attacks start at the lower right at the "Start" node.  They move through actions and attributes until they finally conclude at the "End" node in the upper left.  Depending on what worry you select, the graph will change to represent that subset of the data.</p>
                </div>
            </td>
            <td>
                <div id="sigmajs_container"></div>
            </td>
        </tr></table>
        <div>
            What are you trying to protect?
            <select name="attributes" id="attributes" multiple="multiple">
                <option value="Everything">Everything</option>
                <option value="Availability">Availability:</option>
                <option value="-">-------------</option>
                <option value="attribute.availability.variety.Destruction">destruction</option>
                <option value="attribute.availability.variety.Loss">Loss</option>
                <option value="attribute.availability.variety.Interruption">Interruption</option>
                <option value="attribute.availability.variety.Degradation">Degradation</option>
                <option value="attribute.availability.variety.Acceleration">Acceleration</option>
                <option value="attribute.availability.variety.Obscuration">obscuration</option>
                <option value="attribute.availability.variety.Other">other</option>
                <option value="Confidentiality">Confidentiality:</option>
                <option value="-">----------------</option>
                <option value="attribute.confidentiality.data.variety.Credentials">Credentials</option>
                <option value="attribute.confidentiality.data.variety.Bank">Bank</option>
                <option value="attribute.confidentiality.data.variety.Classified">Classified</option>
                <option value="attribute.confidentiality.data.variety.Copyrighted">Copyrighted</option>
                <option value="attribute.confidentiality.data.variety.Digital certificate">Digital certificate</option>
                <option value="attribute.confidentiality.data.variety.Medical">Medical</option>
                <option value="attribute.confidentiality.data.variety.Payment">Payment</option>
                <option value="attribute.confidentiality.data.variety.Personal">Personal</option>
                <option value="attribute.confidentiality.data.variety.Internal">Internal</option>
                <option value="attribute.confidentiality.data.variety.Source code">Source code</option>
                <option value="attribute.confidentiality.data.variety.System">System</option>
                <option value="attribute.confidentiality.data.variety.Secrets">Secrets</option>
                <option value="attribute.confidentiality.data.variety.Virtual currency">Virtual currency</option>
                <option value="attribute.confidentiality.data.variety.Other">Other</option>
                <option value="Integrity">Integrity:</option>
                <option value="-">----------</option>
                <option value="attribute.integrity.variety.Created account">Created account</option>
                <option value="attribute.integrity.variety.Defacement">Defacement</option>
                <option value="attribute.integrity.variety.Hardware tampering">Hardware tampering</option>
                <option value="attribute.integrity.variety.Alter behavior">Alter behavior</option>
                <option value="attribute.integrity.variety.Fraudulent transaction">Fraudulent transaction</option>
                <option value="attribute.integrity.variety.Log tampering">Log tampering</option>
                <option value="attribute.integrity.variety.Repurpose">Repurpose</option>
                <option value="attribute.integrity.variety.Misrepresentation">Misrepresentation</option>
                <option value="attribute.integrity.variety.Modify configuration">Modify configuration</option>
                <option value="attribute.integrity.variety.Modify privileges">Modify privileges</option>
                <option value="attribute.integrity.variety.Modify data">Modify data</option>
                <option value="attribute.integrity.variety.Software installation">Software installation</option>
                <option value="attribute.integrity.variety.Other">Other</option>
            </select>
        </div>
        <center><input type="button" value="Analyze" id="analyze_button"></center>
    </div>
    <center><hr></center>
    <div id="output_div" class="outer_div">
        <p id="output"></p>
    </div>
</body>
{% endblock %}

